/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 1rem;
}

body {
    font-family: 'Arial' , sans-serif;
    line-height: 1.6;
    background-color: ivory;
}

/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: ivory;
    color: gold;
    text-align: center;
    padding: 1rem 0;
}  
    
header h1 {
    font-size: 2em;
}
    
/* Navigation styles */
nav {
    background-color: darkgrey;
}
    
nav ul {
    list-style-type: none;
    overflow: hidden;
} 

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: gold;
    text-decoration: solid;
    font-weight: bold;
}

/* Main content styles */
.container section {
    padding: 20px 0;
}

/* Project styles */
.projects {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: darkgrey;
    color: gold;
    text-align: center;
    padding: 1rem 0;
}

/* Image styles */
.profile-image {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}