/* Reset some default styles*/
/* Header styles */
h1{
    font-family: Calibri;
    font-size: 25pt;

    font-style: normal;
    font-weight: bold;
    color: peachpuff;
    text-align: center;
    text-decoration: underline;
}

/*  Table styles  */
table{
    font-family: Calibri;
    color: peachpuff;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    background-color: lightcyan;
    border-collapse: collapse;
    border: 2px solid black;
}
table.inner{
border: 2%;
}
